In [1]:
# List of high schools

high_schools = ["Hernandez High School", "Figueroa High School",
"Wilson High School","Wright High School"]

for school in high_schools:
    print(f"{school}\n")
    
# A dictionary of high schools and the type of school. 

high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, 
                     {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                     {"School ID": 3, "school_name":"Hernandez High School", "type": "District"}, 
                     {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

for row in high_school_dicts:
    print(f"{row}")

Hernandez High School

Figueroa High School

Wilson High School

Wright High School

{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'}
{'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'}
{'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'}
{'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'}
{'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}

In [2]:
import pandas as pd

school_series = pd.Series(high_schools)

for school in school_series:
    print(school)
    
school_df = pd.DataFrame(high_school_dicts)
school_df

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter