# Importing CSV files

In [1]:
import csv
import pandas as pd
import os

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Inspecting the DataFrames

In [2]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

# Cleaning the DataFrames

In [4]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [6]:
school_data_df.isnull().sum()   # the sum() method will sum up all the values in the column that are "True"

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [7]:
student_data_df.notnull().sum()  # all of the values in the DataFrame are not null

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [9]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [10]:
# Extracting the Prefixes and Suffixes and cleaning 

student_name_list = student_data_df["student_name"].tolist()

prefixes = []
suffixes = []

for name in student_name_list:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
print(set(prefixes), set(suffixes))

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].replace(word,"")

{'Rita', 'Guy', 'Jose', 'Alex', 'Jon', 'Nina', 'Juan', 'Omar', 'Kurt', 'Brad', 'Gary', 'Luis', 'Erin', 'Toni', 'Earl', 'Jake', 'Troy', 'Luke', 'Drew', 'Jim', 'Tami', 'Leah', 'Cody', 'Mary', 'Dr.', 'Fred', 'Kent', 'Tina', 'Mike', 'Dave', 'Bob', 'Kirk', 'Bill', 'Amy', 'Cole', 'Mrs.', 'Joe', 'Jack', 'Carl', 'Roy', 'Zoe', 'Lisa', 'Ian', 'Ruth', 'Dawn', 'Ryan', 'Dan', 'Jane', 'Sean', 'Alec', 'Karl', 'Tom', 'Joel', 'Beth', 'Erik', 'Ms.', 'Ivan', 'Joy', 'Max', 'Tim', 'Kyle', 'Evan', 'Mark', 'Dana', 'Neil', 'Gene', 'Anna', 'Miss', 'Jody', 'Tara', 'Leon', 'Dale', 'Rose', 'Jill', 'Levi', 'Joan', 'Alan', 'Ana', 'Tony', 'John', 'Glen', 'Ann', 'Cory', 'Rick', 'Chad', 'Dean', 'Mia', 'Marc', 'Seth', 'Ross', 'Jo', 'Lynn', 'Kari', 'Jodi', 'Noah', 'Jay', 'Jeff', 'Kim', 'Emma', 'Lee', 'Sara', 'Lori', 'Greg', 'Pam', 'Kara', 'Jean', 'Gina', 'Eric', 'Paul', 'Don', 'Jade', 'Mr.', 'Adam', 'Ray', 'Sue', 'Judy', 'Anne', 'Todd', 'Gail'} {'Liu', 'Fox', 'Key', 'Ali', 'DVM', 'Ho', 'Le', 'Lee', 'May', 'Lam', 'Roy', 'II', 'Wu', 'III', 'Fry', 'MD', 'Jr.', 'IV', 'Lin', 'Li', 'Ray', 'Yu', 'Gay', 'DDS', 'Orr', 'PhD', 'Cox', 'V', 'Kim', 'Day'}

# District Key Metrics

In [11]:
# Merging the DataFrames

school_data_complete_df = pd.merge(student_data_df, school_data_df, on = "school_name")
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [13]:
# Student count

student_count = school_data_complete_df["Student ID"].count()
statment = (
            f"In total we have {student_count:,} students.")
print(statment)

In total we have 39,170 students.

In [14]:
# School count

school_count = len(school_data_complete_df["school_name"].unique())
# we can also use:
# school_count = len(set(school_data_complete_df["school_name"]))
statment = (
            f"In total we have {school_count:,} schools.")
print(statment)

In total we have 15 schools.

In [15]:
# Total Budget

total_budget = school_data_df["budget"].sum()
statment = (
            f"The total budget of all the schools is ${total_budget:,}")
print(statment)

The total budget of all the schools is $24,649,428

In [16]:
# Average reading score and math score

average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()
statment = (
            f"the average reading score is: {average_reading_score:.2f}\nthe average math score is: {average_math_score:.2f}")
print(statment)

the average reading score is: 81.88
the average math score is: 78.99

In [17]:
# determining the % of students that passed reading and the % that passed math

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

# we can use the following also:
# passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:]
# passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:]

passing_reading_count = passing_reading["student_name"].count()
passing_math_count = passing_math["student_name"].count()

passing_math_percentage = passing_math_count/float(student_count) * 100
passing_reading_percentage = passing_reading_count/float(student_count) * 100

statment= (
            f"Number of students passing math: {passing_math_count:,} ({passing_math_percentage:.2f}%)\n"
            f"Number of students passing reading: {passing_reading_count:,} ({passing_reading_percentage:.2f}%)")
print(statment)

Number of students passing math: 29,370 (74.98%)
Number of students passing reading: 33,610 (85.81%)

In [18]:
# The overall passing percentage

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) 
                                               & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading_count = passing_math_reading["student_name"].count()

def percentage(passing_count, student_count):
    return passing_count/float(student_count) * 100

passing_math_reading_percentage = percentage(passing_math_reading_count, student_count)

statment = (
            f"Number of students passing both math and reading: {passing_math_reading_count:,} ({passing_math_reading_percentage:.2f}%)")
print(statment)

Number of students passing both math and reading: 25,528 (65.17%)

In [19]:
# School District Summary

district_summary_df = pd.DataFrame(
                                    [{"Total Schools":school_count,
                                    "Total Students":student_count,
                                    "Total Budget":total_budget,
                                    "Average Math Score":average_math_score,
                                    "Average Reading Score":average_reading_score,
                                    "% Passing Math":passing_math_percentage,
                                    "% Passing Reading":passing_reading_percentage,
                                    "% Overall Passing":passing_math_reading_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [20]:
# mapping new format

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format) 
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format) 
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

# School Summary

In [21]:
per_school_types = school_data_df.set_index(["school_name"])["type"]

per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [22]:
df = pd.DataFrame(per_school_types)

df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [23]:
# Getting the number of students in each school

per_school_counts = school_data_complete_df["school_name"].value_counts()

per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [24]:
# Getting the the budget per student for each school

per_school_budget = school_data_df.set_index(["school_name"])["budget"]

per_school_capita = per_school_budget/per_school_counts

per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [25]:
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [26]:
# Retrieving the average math score and reading score per school

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

per_school_reading

/var/folders/7q/_jxtrjfd6mn1gsnpprmx85vw0000gn/T/ipykernel_37963/395847457.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
/var/folders/7q/_jxtrjfd6mn1gsnpprmx85vw0000gn/T/ipykernel_37963/395847457.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [27]:
# Determining the passing percentage of math and reading for each school

per_school_passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
per_school_passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# getting the percentage

per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate students passing both math and reading

per_school_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & 
                                                  (school_data_complete_df["reading_score"] >= 70)]

per_school_math_reading = per_school_math_reading.groupby(["school_name"]).count()["student_name"]
per_overall_passing_percentage = per_school_math_reading / per_school_counts * 100
per_school_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [28]:
# Creating the school summary DataFrame

per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts, 
    "Total School Budget": per_school_budget, 
    "Per Student Budget": per_school_capita, 
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [29]:
# mapping new format

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455